@import "tailwindcss";

/* Root color variables */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Dark mode overrides */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Base body styles */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-ibm-plex), sans-serif;
}

/* Custom SimpleBar scrollbar */
.custom-scrollbar .simplebar-scrollbar::before {
  background: rgb(220 38 38); /* Tailwind red-600 */
  border-radius: 9999px;
  width: 2px; /* thin thumb */
}

.custom-scrollbar .simplebar-track.simplebar-vertical {
  width: 6px; /* track width */
}
